﻿
<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hope UI | Responsive Bootstrap 5 Admin Dashboard Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Admin/images/favicon.ico" />

    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="~/Admin/css/core/libs.min.css" />


    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" href="~/Admin/css/hope-ui.min.css?v=2.0.0" />

    <!-- Custom Css -->
    <link rel="stylesheet" href="~/Admin/css/custom.min.css?v=2.0.0" />

    <!-- Dark Css -->
    <link rel="stylesheet" href="~/Admin/css/dark.min.css" />

    <!-- Customizer Css -->
    <link rel="stylesheet" href="~/Admin/css/customizer.min.css" />

    <!-- RTL Css -->
    <link rel="stylesheet" href="~/Admin/css/rtl.min.css" />
    <link rel="stylesheet" href="~/Admin/css/main.css" />

    <script src="~/Admin/js/core/libs.min.js"></script>



</head>
<body class=" " data-bs-spy="scroll" data-bs-target="#elements-section" data-bs-offset="0" tabindex="0">
    <!-- loader Start -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body"></div>
        </div>
    </div>
    <!-- loader END -->
    @RenderBody()

    <!-- Library Bundle Script -->

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

    <!-- External Library Bundle Script -->
    <script src="~/Admin/js/core/external.min.js"></script>

    <!-- Widgetchart Script -->
    <script src="~/Admin/js/charts/widgetcharts.js"></script>

    <!-- mapchart Script -->
    <script src="~/Admin/js/charts/vectore-chart.js"></script>
    <script src="~/Admin/js/charts/dashboard.js"></script>

    <!-- fslightbox Script -->
    <script src="~/Admin/js/plugins/fslightbox.js"></script>

    <!-- Settings Script -->
    <script src="~/Admin/js/plugins/setting.js"></script>

    <!-- Slider-tab Script -->
    <script src="~/Admin/js/plugins/slider-tabs.js"></script>

    <!-- Form Wizard Script -->
    <script src="~/Admin/js/plugins/form-wizard.js"></script>

    <!-- AOS Animation Plugin-->
    <!-- App Script -->
    <script src="~/Admin/js/hope-ui.js" defer></script>

</body>
</html>