@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="banner-content">
    <span class="no-image">No image</span>
    <p class="title title-banner">Tin tức</p>
</section>

<section class="breadcrumb">
    <div class="container">
        <ul>
            <li>
                <a href="/" title="Trang chủ"> Trang chủ </a> <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16"
                         height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708">
                        </path>
                    </svg>
                </span>
            </li>
            <li>
                Tin tức
            </li>
        </ul>
    </div>
</section>

<div class="grid-news">
    <div class="container">
        <div class="content-news">
            <div class="content-left">
                <div class="list-news pb-block">
                    <div class="title--before-red">
                        <h2 class="title">
                            <a href="/tin-cong-nghe" target="_self" title="Tin công nghệ">
                                Tin công
                                nghệ
                            </a>
                        </h2>
                    </div>
                    <div class="grid-view">
                        <div class="item hover-img item-1">
                            <a href="/tin-cong-nghe/ti-vi-tcl-qled-8k-co-nhung-khac-biet-gi"
                               title="Ti vi TCL QLED 8k có những khác biệt gì" class="img">
                                <div class="over-border">
                                    <div class="line"></div>
                                    <div class="line line-bottom"></div>
                                </div><img src="/Upload/tivi/samsung/images.jpg"
                                           alt="Ti vi TCL QLED 8k có những khác biệt gì" width="280" height="180"
                                           loading="lazy">
                            </a>
                            <div class="content-blog">
                                <h3>
                                    <a href="/tin-cong-nghe/ti-vi-tcl-qled-8k-co-nhung-khac-biet-gi" target="_self"
                                       title="Ti vi TCL QLED 8k có những khác biệt gì">
                                        Ti vi TCL QLED 8k có những khác
                                        biệt gì
                                    </a>
                                </h3>
                                <div class="time-post">24/03/2024</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-right">
                <div class="sidebar-no-img">
                    <div class="title--before-red">
                        <h2 class="title">Tin xem nhiều</h2>
                    </div>
                    <aside class="list">
                        <div class="item">
                            <a href="/tin-cong-nghe/ti-vi-tcl-qled-8k-co-nhung-khac-biet-gi"
                               target="_self" title="Ti vi TCL QLED 8k có những khác biệt gì" class="name">
                                Ti vi TCL
                                QLED 8k có những khác biệt gì
                            </a>
                            <div class="time-post">24/03/2024</div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>